<?xml version="1.0" encoding="utf-8" ?>
<root>
  <mainmenus>
    <mainmenu>
      <module>admin</module>
      <name>系统管理</name>
      <submenus>
        <submenu>
          <id>about</id>
          <name>关于</name>
          <url>/Admin/about.php</url>
        </submenu>
        <submenu>
          <id>dashboard</id>
          <name>Dashboard</name>
          <url>/Admin/dashboard.php</url>
        </submenu>
      </submenus>
    </mainmenu>
    <mainmenu>
      <module>info</module>
      <name>个人信息管理</name>
      <submenus>
        <submenu>
          <id>doctor_add</id>
          <name>个人信息</name>
          <url>/Info/doctor.php</url>
        </submenu>
        <submenu>
          <id>resetpsw</id>
          <name>修改密码</name>
          <url>/Info/resetpsw.php</url>
        </submenu>
        <submenu>
          <id>news_list</id>
          <name>发布文章列表</name>
          <url>/Info/news.php</url>
        </submenu>
        <submenu>
          <id>news_add</id>
          <name>发布文章</name>
          <url>/Info/news.php?action=add</url>
        </submenu>
        <submenu>
          <id>notice_center</id>
          <name>消息中心</name>
          <url>/info/notice.php</url>
        </submenu>
      </submenus>
    </mainmenu>
    <mainmenu>
      <module>order</module>
      <name>订单管理</name>
      <submenus>
        <submenu>
          <id>videoorder_list</id>
          <name>视频会诊订单查询</name>
          <url>/Order/videoorder.php</url>
        </submenu>
        <submenu>
          <id>charorder_list</id>
          <name>图文咨询订单查询</name>
          <url>/Order/charorder.php</url>
        </submenu>
      </submenus>
    </mainmenu>
    <mainmenu>
      <module>statistics</module>
      <name>数据统计</name>
      <submenus>
        <submenu>
          <id>orderstatistics_list</id>
          <name>订单数据统计</name>
          <url>/Statistics/orderstatistics.php</url>
        </submenu>
        <submenu>
          <id>other</id>
          <name>其它统计</name>
          <url>#</url>
        </submenu>
      </submenus>
    </mainmenu>
    <mainmenu>
      <module>vediochat_center</module>
      <name>视频会诊中心</name>
      <url>/videochat.php</url>
      <opennew>1</opennew>
    </mainmenu>
    <mainmenu>
      <module>chat_center</module>
      <name>图文咨询中心</name>
      <url>/charchat.php</url>
      <opennew>1</opennew>
    </mainmenu>
  </mainmenus>
</root>