<?xml version="1.0" encoding="utf-8" ?>
<root>
  <mainmenus>
    <mainmenu>
      <module>admin</module>
      <name>系统管理</name>
      <submenus>
        <submenu>
          <id>about</id>
          <name>关于</name>
          <url>/Admin/about.php</url>
        </submenu>
        <submenu>
          <id>dashboard</id>
          <name>Dashboard</name>
          <url>/Admin/dashboard.php</url>
        </submenu>
        <submenu>
          <id>user_list</id>
          <name>用户列表</name>
          <url>/Admin/user.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>user_add</id>
          <name>用户新增</name>
          <url>/Admin/user.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
      </submenus>
    </mainmenu>
    <mainmenu>
      <module>website</module>
      <name>网站管理</name>
      <submenus>
        <submenu>
          <id>banner_list</id>
          <name>广告列表</name>
          <url>/Website/banner.php</url>
        </submenu>
        <submenu>
          <id>banner_add</id>
          <name>广告新增</name>
          <url>/Website/banner.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>general_list</id>
          <name>文字列表</name>
          <url>/Website/general.php</url>
        </submenu>
        <submenu>
          <id>general_add</id>
          <name>文字新增</name>
          <url>/Website/general.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>news_list</id>
          <name>新闻列表</name>
          <url>/Website/news.php</url>
        </submenu>
        <submenu>
          <id>news_add</id>
          <name>新闻新增</name>
          <url>/Website/news.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>notice_list</id>
          <name>消息列表</name>
          <url>/Website/notice.php</url>
        </submenu>
        <submenu>
          <id>notice_add</id>
          <name>消息发布</name>
          <url>/Website/notice.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
      </submenus>
    </mainmenu>
    <mainmenu>
      <module>doctor</module>
      <name>医生管理</name>
      <submenus>
        <submenu>
          <id>doctor_list</id>
          <name>医生列表</name>
          <url>/Doctor/doctor.php</url>
        </submenu>
        <submenu>
          <id>doctor_add</id>
          <name>医生新增</name>
          <url>/Doctor/doctor.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>doctorcalendar</id>
          <name>医生日程管理</name>
          <url>#</url>
        </submenu>
      </submenus>
    </mainmenu>
      <mainmenu>
      <module>order</module>
      <name>订单管理</name>
      <submenus>
        <submenu>
          <id>order_list</id>
          <name>订单查询</name>
          <url>/Order/order.php</url>
        </submenu>
        <submenu>
          <id>doctorcalendar</id>
          <name>Comming Soon</name>
          <url>#</url>
        </submenu>
      </submenus>
    </mainmenu>
  </mainmenus>
</root>